@import url(https://raw.githubusercontent.com/crispin3k/gamesense/main/gamesense.theme.css);
@import url(https://fluffingtons.github.io/revert-discord/resources/theme.css);
@import url('https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css');
/*@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/MoreRoundedBorders/borders.css");*/
@import url("https://raw.githack.com/LuckFire/BetterChannelIndicators/main/src/source.css");
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono";
@import "https://slow.github.io/dark-discord/src/source.css";:root,.theme-light,.theme-dark{--border-color:#333!important;--font:Roboto+Mono!important;--tint:#a4b84d!important;--title-gradient:linear-gradient(to right,#37b1da 0,#c948cd 50%,#cce335 100%)!important}#app-mount{box-shadow:0 0 0 1px var(--border-color),0 0 0 4px #282828,0 0 0 5px var(--border-color),0 0 0 6px #0a0a0a;font-family:var(--font)!important;height:calc(100vh - 12px);left:6px;top:6px;width:calc(100vw - 12px)}.winButton-iRh8-Z{top:2px!important}.wordmark-2iDDfm{font-family:'Roboto+Mono'!important;opacity:1}.wordmark-2iDDfm::before{background-color:transparent;color:var(--text-normal);content:'cris';display:inline-block;font-size:14px;height:auto;left:12px;position:fixed;top:14px;z-index:1000}.wordmark-2iDDfm::after{background-color:transparent;color:var(--tint);content:'pin';display:inline-block;font-size:14px;height:auto;left:50px;position:fixed;top:14px;z-index:1000}.wordmark-2iDDfm svg{display:none}.typeWindows-1za-n7{background:var(--title-gradient);border-bottom:1px solid var(--border-color)!important;box-shadow:inset 0 -23px 0 0 var(--background-tertiary),inset 0 -24px 0 0 rgba(0,0,0,.5);height:26px;margin-left:1px;margin-right:1px;margin-top:1px!important;opacity:1;z-index:50}.scrollableContainer-2NUZem,.theme-dark .root-1gCeng{border:1px solid var(--border-color);border-radius:0}.guild-1EfMGQ.active .guildInner-3DSoA4{background:var(--tint)!important}.privateChannels-1nO12o{border:1px solid var(--border-color);border-bottom:none;border-left:none;border-top:none}.panels-j1Uci_{border-right:1px solid var(--border-color);border-top:1px solid var(--border-color)}.userPopout-3XzG_A{-webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,.2),0 0 0 1px var(--border-color)!important;box-shadow:0 2px 10px 0 rgba(0,0,0,.2),0 0 0 1px var(--border-color)!important}.typeMacOS-3EmCyP{border-right:1px solid var(--border-color);width:71px!important}.contentWrapper-SvZHNd,.background-1QDuV2,.wrapper-1cBijl,.fieldList-21DyL8,.root-SR8cQa,.recentMentionsPopout-3rCiI6{border-radius:0;border:1px solid var(--border-color)}.searchBar-6Kv8R2{border-bottom:1px solid var(--border-color)!important;height:47px!important}.winButtonClose-1HsbF-:hover,.winButtonMinMax-PBQ2gm:hover{background-color:transparent;color:#fff!important}.container-PNkimc,.platform-win .scroller-2TZvBN,.sidebarRegionScroller-3MXcoP,.platform-osx .scroller-2TZvBN{border-right:1px solid var(--border-color)}.membersWrap-2h-GB4,.nowPlayingColumn-2sl4cE{border-left:1px solid var(--border-color)}.container-3baos1,.container-3baos1 .avatar-SmRMf2{border-bottom:none;border-left:none}.activityPanel-28dQGo,.container-1r6BKw.themed-ANHk51,.clickable-2ap7je .header-2o-2hj,.container-1giJp5{border-bottom:1px solid var(--border-color)}

:root {
    --unread-badge: rgba(255, 255, 255, 0.6);
    --unread-bg: rgba(255, 255, 255, 0.01);
    --selected-badge: rgb(112, 135, 215);
    --selected-bg: rgba(112, 135, 215, 0.1);
    --selected-bg-hover: rgba(112, 135, 215, 0.18);
    --hovered-bg: rgba(79, 84, 92, 0.25);
    --bg-rounding: 0 50px 50px 0;
    --border-info: 2px solid;
}

.wordmark-2iDDfm{
  visibility: hidden;
}

.wordmark-2iDDfm:after{
  content: "Crispin";
  position: absolute;
  font-size: 15px;
  font-family: "discord";
  visibility: visible!important;
  background-color: #f3ec78;
  background-image: linear-gradient(to left, #ffffff, #ffffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  left: 8px!important;
  top: 4px!important;
}

.homeIcon-tEMBK1 {
  background: url('https://imgur.com/d0z4hrl.gif') center/contain no-repeat;
  min-width: 50px;
  min-height: 50px;
}
.homeIcon-tEMBK1 path {
  fill: transparent;
}
